

/*TAMAMI EMRE PALTA YA AİTTİR !!*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #75755d;/*hizmetlerimiz bülümü*/
    color: #333;/*yazı renkleri*/
}

header {
    background: #f0fa68c0;/*en üst blm*/
    color: #000000;
    text-align: center;
    padding: 60px 20px;
}

header .btn {
    display: inline-block;/* ara butonn*/
    background: #fbff00ce;
    color: #000;
    padding: 12px 20px;
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
}

.hizmetler {
    padding: 40px 20px;
    text-align: center;
}

.hizmetlis {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.lşzel {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.iletisimm {
    padding: 40px 20px;
    text-align: center;
    background: #fffb00af;
}
.map-container {/*harita*/
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}


footer {
    text-align: center;
    padding: 36px;
    background: #002fffc0;
    color: rgb(0, 0, 0);
}
.dair
{
    text-align: center;
    color: rgb(255, 0, 0);
    font-style: italic; 
}
.las
{
    color: blue;
}
.max
{
    color: rgb(229, 255, 0);
}
 .galeri
 {        
     width: 160px;  
     height: 90px; 
     border-color: 2px; 
     border-style: solid;
    margin: 25px;
    
     border-radius: 10px;  
  }
 
.marquee {
    overflow: hidden;
    white-space: nowrap;
    background: #000;
    color: #FFC300;
    padding: 10px;
    font-size: 20px;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: slide 12s linear infinite;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.galeri {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
  font-family: Arial, sans-serif;
}

.galeri h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1A1A1A;
}

.slider {
  display: flex;
  overflow-x: auto;
  gap: 15px;
  scroll-behavior: smooth;
  padding-bottom: 10px;
  cursor: grab;
}

.slider img {
  width: 250px;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
  user-select: none; /* imleç ile seçimi engeller */
  transition: transform 0.3s;
}

.slider img:hover {
  transform: scale(1.05);
}

/* İmleç tıklanınca değişsin */
.slider:active {
  cursor: grabbing;
}




/*TAMAMI EMRE PALTA YA AİTTİR !!*/
